body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
  }
  
  .searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-top: 50px;
  }
  
  #pokemonName {
    text-align: center;
    width: 50%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    outline: none;
  }
  
  #search {
    padding: 10px 20px;
    background-color: #3cb371;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
  }
  
  .pokemonBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-top: 50px;
  }
  